{% load static %}

{% if error_message %}
    <p>{{ error_message }}</p>
{% endif %}

<link rel="stylesheet" href="{% static 'css/LoginPage.css' %}?after">
<html>
<body>
<div class="container">
<div class="up">
<img  src="{% static 'images/logo.png' %}" />
</div>

<div class="down">
    <form method="POST" action="{% url 'Login' %}" >
    {% csrf_token %}
        <div>
            <label for="uid">Email: </label>
            <input type="text" id="uid" name="uid" required><br>
        </div>

        <div>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required><br>
        </div>

        <div>
            <input type="submit" value="Login">
        </div>
        <div >
             <button style="width:200px;height:25px; font-family: 'DU';">
              <a  href="http://127.0.0.1:8000/signup/" style="text-decoration: none; color: black;">
                  회원가입 페이지로 이동</a></button>
        </div>

    </form>



</div>
</div>
</body>
</html>
</link>