{% load static %}

{% if error_message %}
    <p>{{ error_message }}</p>
{% endif %}

<link rel="stylesheet" href="{% static 'css/LoginPage.css' %}?after">
<html>
<body>
<div class="container">
<div class="up">
<img  src="{% static 'images/logo.png' %}" />
</div>

<div class="down">
    <form method="POST" action="{% url 'Login' %}" >
    {% csrf_token %}
        <div>
            <label for="uid">Email: </label>
            <input type="text" id="uid" name="uid" required><br>
        </div>

        <div>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required><br>
        </div>

        <div>
            <input type="submit" value="Login">
        </div>

    </form>

   <form method="POST" action="{% url 'Login' %}" >
    {% csrf_token %}
       <div >
            <input class="logout" type="submit" value="Logout" >
        </div>

    </form>

</div>
</div>
</body>
</html>
</link>