{% load static %}

{% if error_message %}
    <p>{{ error_message }}</p>
{% endif %}

<link rel="stylesheet" href="{% static 'css/LoginPage.css' %}?after">
<html>
<p className='notice'>Dongguk Notice</p>
<body>
    <form method="POST" action="{% url 'Login' %}" >
    {% csrf_token %}
        <div>
            <label for="uid">Email: </label>
            <input type="text" id="uid" name="uid" required><br>
        </div>

        <div>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required><br>
        </div>

        <div>
            <input type="submit" value="Submit">
        </div>
        
    </form>
</body>
</html>
</link>