{% load static %}

<link rel="stylesheet" href="{% static 'css/MainPage.css' %}?after">
<script src="{% static 'js/mainPage.js' %}"></script>
<div class="container">

    <div class="up">

        <div class="up-left">
            <img  src="{% static 'images/logo.png' %}" />
        </div>

            <div class="up-right">
                <form class="searchbar" action="/search/" method="get">
                    <input type="text" name="keyword" placeholder="검색어를 입력하세요" >
                    <button class="search" type="submit">검색</button>
                </form>
            </div>

    </div>

    <div class="middle">
        <p2>
            <button id="openModalButton" class="order" type="submit" >공지사항 순서 변경</button>

            <form  method="POST" action="{% url 'Login' %}" >
             <button id="Logout" type="submit">로그아웃</button>
             </form>

            <div id="myModal" class="modal">
                <div class="modal-content">
                <span class="close">&times;</span>
                <h2>공지사항 순서 변경</h2>
                    <details>
                    <summary>공지사항 목록</summary>
                        <p><div>
                            {% for category in allcategory %}
                                <li>{{ category.Cid }} : {{ category.Cname }}</li>
                            {% endfor %}
                            원하는 카테고리 6개를 순서대로 입력해주세요.
                        </div></p>
                    </details>


                     <form class="input-wrapper" method="post" action="/mainPage/reorder/">
                        {% csrf_token %}
                         <div class="input-wrapper-up">
                        <div class="order_input" >
                            <label>공지사항1 :</label>
                            <select name="input1" class="input1">
                                {% for category in allcategory %}
                                <option value="{{category.Cname}}">{{category.Cname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="order_input" >
                            <label>공지사항2 :</label>
                            <select name="input2" class="input2">
                                {% for category in allcategory %}
                                <option value="{{category.Cname}}">{{category.Cname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="order_input">
                            <label>공지사항3 :</label>
                            <select name="input3" class="input3">
                                {% for category in allcategory %}
                                <option value="{{category.Cname}}">{{category.Cname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="order_input" >
                            <label>공지사항4 :</label>
                            <select name="input4" class="input4">
                                {% for category in allcategory %}
                                <option value="{{category.Cname}}">{{category.Cname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="order_input">
                            <label>공지사항5 :</label>
                            <select name="input5" class="input5">
                                {% for category in allcategory %}
                                <option value="{{category.Cname}}">{{category.Cname}}</option>
                                {% endfor %}
                            </select>
                         </div>
                         <div class="order_input">
                            <label>공지사항6 : </label>
                            <select name="input6" class="input6">
                                {% for category in allcategory %}
                                <option value="{{category.Cname}}">{{category.Cname}}</option>
                                {% endfor %}
                            </select>
                          </div>
                         </div>
                         <div id="input-wrapper-down">
                        <button class="editBtn1" type="submit" >수정</button>
                         </div>
                    </form>
                </div>
            </div>
       </p2>
    </div>

    <div class="down">
        <div class="menubar">
            <h5 style="text-align: center; ">KEYWORDS</h5>
            <ul id="keyword-list" style="margin-top: 0px;">
                {% regroup keywords by key as grouped_keywords %}

                {% for grouped_keyword in grouped_keywords %}
                <li class="keylist" >
                    {{ grouped_keyword.grouper }} -
                    {% for keyword in grouped_keyword.list %}
                        {{ keyword.Cid.Cname }}
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}

                    <input class="hiddenBtn" type="hidden" name="grouped_keyword_grouper" value="{{ grouped_keyword.grouper }}" />
                    <input class="hiddenBtn" type="hidden" name="keyword_cid_cname" value="{{ keyword.Cid.Cname }}"  />

                    <form method="post" action="/mainPage/del_keyword/">
                        {% csrf_token %}
                        <input type="hidden" name="del_keyword" value="{{ grouped_keyword.grouper }}">
                        <button type="submit" class="delete-key-btn" >-</button>
                    </form>
                </li>
                {% endfor %}
            </ul>

            <div style=" display:flex;justify-content: center;">
                <button id="openModalButton2" >+</button>

                    <div id="myModal2" class="modal">
                        <div class="modal-content">
                            <span class="close2">&times;</span>
                            <h3>키워드 추가</h3>
                            <form class="keyinput-form"method="post" action="/mainPage/add_keyword/" >
                                {% csrf_token %}
                                <label>키워드를 입력해주세요.</label>
                                <input class="keyinputBtn"name="keyword_name" type="text" placeholder="추가할 키워드를 입력해주세요.">
                                <div style="display: flex; align-items: center;">
                                    <label>카테고리를 골라주세요.</label>
                                    <div class="cat-container1" >
                                        {% for category in allcategory %}
                                        <label class= "cat-item">
                                            <input name="category_list" type="checkbox" style="width: 12px; height: 12px;" value="{{ category.Cid }}">
                                            <span style="font-size: 12px;">{{ category.Cname }}</span>
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div style="display:flex; justify-content: center;">
                                    <button class="addBtn" type="submit" >추가</button>
                                </div>
                            </form>
                        </div>
                    </div>


                <button id="openModalButton1" class="order" type="submit" >edit</button>

                    <div id="myModal1" class="modal">
                        <div class="modal-content">
                            <span class="close1">&times;</span>
                            <h3 style="text-align:center">키워드 수정</h3>

                            <form action="/mainPage/edit_keyword/" method="post">
                                <div style="display:flex; justify-content:center;">
                                    <label >수정할 키워드를 선택해주세요.</label>
                                    {% csrf_token %}
                                    <select id='target_select' name="now_keyword" onchange="changePlaceholder()" >
                                            <option value="" disabled selected style="display: none;">키워드 선택</option>
                                        {% for grouped_keyword in grouped_keywords %}
                                            <option value="{{ grouped_keyword.grouper }}">{{ grouped_keyword.grouper }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="edit-container">
                                    <div class="edit" >
                                    <label style="width:68px; ">키워드를</label>
                                    <input id='edit_input' name='edit_keyword' type="text" placeholder="변경할 키워드" >

                                    <label class="edit-label" >로,&nbsp;&nbsp;카테고리를</label>

                                        <div class="cat-container2" >
                                            {% for category in allcategory %}
                                            <label class= "cat-item">
                                                <input name="edit_category" type="checkbox"  value="{{ category.Cid }}">
                                                <span style="font-size: 12px;">{{ category.Cname }}</span>
                                            </label>
                                            {% endfor %}
                                        </div>

                                        <label style="margin-left:5px" >로</label>
                                    </div>

                                    <div style="display:flex; justify-content: center;">
                                        <button class="editBtn2" type="submit" >수정</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
           </div>
        </div>

       <div class="component-wrapper">

        {% for category in categories %}
            <div class="row{{ forloop.counter }}">
                <h5 style="margin-left:10px">{{ category.Cname }}</h5>
                <ul>
                {% for notice in category.notice_set.all %}
                    <li class="noticelink"><a href="{{ notice.link }}" title="{{notice.title}}" style="text-decoration:none; color: black;">{{ notice.title }}</a> - {{ notice.time }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}

        </div>
    </div>
</div>

<script>

    // 공지사항 순서 변경 모달
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("openModalButton");
    var closeBtn = document.getElementsByClassName("close")[0];

    function openModal() {
    modal.style.display = "block";
    }

    function closeModal() {
    modal.style.display = "none";
    }

    btn.addEventListener("click", openModal);
    closeBtn.addEventListener("click", closeModal);


    // 키워드 수정 관련 모달
    var modal1 = document.getElementById("myModal1");
    var btn1 = document.getElementById("openModalButton1");
    var closeBtn1 = document.getElementsByClassName("close1")[0];

    function openModal1() {
    modal1.style.display = "block";
    }
    function closeModal1() {
    modal1.style.display = "none";
    }

    btn1.addEventListener("click", openModal1);
    closeBtn1.addEventListener("click", closeModal1);

    // 키워드 수정시 option에 따라서 기존 키워드 정보 출력
    function changePlaceholder() {
        var select = document.getElementById("target_select");
        var input = document.getElementById("edit_input");
        var checkboxes = document.querySelectorAll(".cat-container input[type='checkbox']");
        var selectedOption = select.options[select.selectedIndex].value;

        input.value = selectedOption;

        checkboxes.forEach(function (checkbox) {
        checkbox.checked = checkbox.value === selectedOption ? true : false;
    });
    }


    // 키워드 추가 관련 모달
    var modal2 = document.getElementById("myModal2");
    var btn2 = document.getElementById("openModalButton2");
    var closeBtn2 = document.getElementsByClassName("close2")[0];

    function openModal2() {
    modal2.style.display = "block";
    }
    function closeModal2() {
    modal2.style.display = "none";
    }

    btn2.addEventListener("click", openModal2);
    closeBtn2.addEventListener("click", closeModal2);

    // 중복 선택 방지를 위한 이벤트 핸들러
    function handleOptionSelection() {
        const selectedOptions = Array.from(document.querySelectorAll('.option')).map(select => select.value);
        const uniqueOptions = new Set(selectedOptions);

    // 중복된 옵션을 비활성화
    Array.from(document.querySelectorAll('.option option')).forEach(option => {
        if (uniqueOptions.has(option.value)) {
            option.disabled = true;
        } else {
            option.disabled = false;
        }
    });
    }

    // 모든 select 태그에 이벤트 핸들러 추가
    Array.from(document.querySelectorAll('.option')).forEach(select => {
        select.addEventListener('change', handleOptionSelection);
    });
</script>
