{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/MainPage.css' %}?after">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>


<body>
    <div class="container">

        <div class="up">
        <!--위쪽(로고, 검색창, 사용자 버튼)-->

            <!--로고-->
            <div class="up-left">
                <img class="up-left-img" src="{% static 'images/logo.png' %}" onclick="redirectToURL('/mainPage/')" />
            </div>

            <!--검색-->
            <div class="up-middle">
                <form class="searchbar" action="/search/" method="get">
                    <input type="text" name="keyword" minlength="2" maxlength="40" placeholder="검색어를 입력하세요" >
                    <button type="submit">검색</button>
                </form>
            </div>

            <!--사용자 버튼-->
            <div class="up-right">
                <!--공지사항 순서 변경 버튼-->
                <form class="button_right">
                    <button id="Btn_Modal_reorder_open" class="btn_order" type="button">공지사항 순서 변경</button>
                </form>


                <!--버튼 클릭 시 반응 창-->
                <div id="Modal_reorder" class="modal">
                     <div class="modal-content">
                         <span id="Btn_Modal_reorder_close" class="close">&times;</span>
                         <h2>공지사항 순서 변경</h2>

                         <form class="input-wrapper" method="post" action="/mainPage/reorder/">
                             {% csrf_token %}
                             <div class="input-wrapper-up">

                                 {% for cate_order in categories %}
                                 <div class="order_input">
                                     <label>공지사항{{ forloop.counter }}</label>
                                     <select name="input{{ forloop.counter }}" class="option">
                                         <option value="{{ cate_order.Cname }}" selected style="display: none;">{{ cate_order.Cname }}</option>
                                         {% for category in allcategory %}
                                         <option value="{{category.Cname}}">{{category.Cname}}</option>
                                         {% endfor %}
                                     </select>
                                 </div>
                                 {% endfor %}
                             </div>

                             <div>
                                <button id="Btn_Modal_reorder_close" class="editBtn1" type="submit" >수정</button>
                             </div>
                         </form>

                     </div>
                </div>

                <!--로그아웃-->
                <form class="button_right" method="POST" action="{% url 'Login' %}" >
                    {% csrf_token %}
                    <button  id="Logout" type="submit" class="btn_logout">로그아웃</button>
                </form>

            </div>
            <!--사용자 버튼 끝-->

        </div>
        <!--위쪽 끝-->

        <!--하단 시작-->
        <div class="down">

            <!--공지사항들-->
            <div class="component-wrapper">
                {% for notice in notices %}
                <div class="row{{ forloop.counter }}"  >

                    <div class="sticky-header">
                      <h5 >{{ notice.0.Cid_id }}</h5>
                    </div>

                    <div>
                        <table class="sticky-notices" >
                            {% for notice in notice %}
                            <tr>
                                <td class="sticky-notices-links"><a href="{{ notice.link }}" title="{{ notice.title }}">{{ notice.title }}</a></td>
                                <td class="sticky-notices-times">{{ notice.time }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>

                </div>
                {% endfor %}
            </div>

            <!--키워드 바-->
            <div class="menubar">
                <h5>KEYWORDS</h5>

                <li>유사단어 허용여부: O,X</li>


                <!-- 키워드 리스트 출력-->
                <ul id="keyword-list">

                    {% regroup keywords by key as grouped_keywords %}
                    {% for grouped_keyword in grouped_keywords %}

                    <li class="keylist" style="margin:5px">
                        <div class="keytextline">
                            {{ grouped_keyword.grouper }} :
                            {% for keyword in grouped_keyword.list %}
                                {{ keyword.Cid.Cname }}
                                {% if not forloop.last %},
                                {% else %}
                                    <div  id="show_sim">
                                        <input type="hidden" class="key_sim{{ grouped_keyword.grouper }}" value="{{ keyword.similar_on }}">
                                        {% if keyword.similar_on %}(O){% else %}(X){% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <input class="hiddenBtn" type="hidden" name="grouped_keyword_grouper" value="{{ grouped_keyword.grouper }}" />
                        <input class="hiddenBtn" type="hidden" name="keyword_cid_cname" value="{{ keyword.Cid.Cname }}"  />

                        <div class="btn_group">
                            <!-- 키워드 삭제-->
                            <form method="get" action="/mainPage/{{ grouped_keyword.grouper }}/">
                                {% csrf_token %}
                                <input type="hidden" name="keyword_del" value="{{ grouped_keyword.grouper }}">
                                <button type="submit" class="btn_keyDel" >-</button>
                            </form>

                            <!-- 키워드 수정-->
                            <button id="Btn_Modal_keyword_edit_open{{ forloop.counter }}" class="btn_keyedit">Edit</button>

                            <div id="Modal_keyword_edit{{ forloop.counter }}" class="modal">
                                <div class="modal-content">
                                    <span id = "Btn_Modal_keyword_edit_close{{ forloop.counter }}" class="btn_keyDel">&times;</span>
                                    <div class="keyword_add_text">키워드 수정</div>

                                    <form action="/mainPage/'{{ grouped_keyword.grouper|urlencode }}'/" method="post">
                                        {% csrf_token %}
                                        <div class="keyword_box">

                                            <input type="hidden" name="now_keyword" class="edit_word" value="{{ grouped_keyword.grouper }}">

                                            <div class="keyword_input_box">
                                                <label>키워드:</label>
                                                <input type="text" name="edit_keyword" value="{{ grouped_keyword.grouper }}" >
                                            </div>

                                            <div class="category_box">
                                                <div class="category_input_box">
                                                    <label>카테고리:</label>
                                                </div>
                                                <div class="category-container">
                                                    {% for category in allcategory %}
                                                    <label class="cat-item">
                                                        <input id="checkbox{{ grouped_keyword.grouper }}{{ forloop.counter }}" name="edit_category" type="checkbox" value="{{ category.Cid }}">
                                                        <span>{{ category.Cname }}</span>
                                                    </label>
                                                    {% endfor %}
                                                 </div>
                                            </div>

                                        </div>

                                        <div class="similar_input_box">
                                            <span>키워드 유사단어 등록</span>
                                            <input id="box_sim{{ grouped_keyword.grouper }}" name="similar_on" type="checkbox" value="True">
                                            <div class="submit_input_box">
                                                <button id="Btn_Modal_keyword_edit_close" class="editBtn2" type="submit">수정</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

                <!-- 키워드 추가 -->
                <div style=" display:flex;justify-content: center;">
                    <button id="Btn_Modal_keyword_add_open" class="btn_keyAdd" type="button" >+</button>

                    <div id="Modal_keyword_add" class="modal">
                        <div class="modal-content" >
                            <span id="Btn_Modal_keyword_add_close" class="btn_keyDel">&times;</span>


                            <form class="keyinput-form" method="get" action="/mainPage/add/">
                                {% csrf_token %}
                                <div class="keyword_box">
                                    <div class="keyword_add_text">키워드 추가</div>

                                    <div class="keyword_input_box">
                                        <label>키워드:</label>
                                        <input name="keyword_add" type="text" placeholder="추가할 키워드를 입력해주세요.">
                                    </div>


                                    <div class ="category_box">
                                        <div class="category_input_box">
                                            <label>카테고리:</label>
                                        </div>

                                        <div class="category-container">
                                            {% for category in allcategory %}
                                            <label class= "cat-item">
                                                <input name="category_list" type="checkbox"  value="{{ category.Cid }}">
                                                <span>{{ category.Cname }}</span>
                                            </label>
                                            {% endfor %}
                                        </div>
                                    </div>



                                    <div class="similar_input_box">
                                        <span>키워드 유사단어 등록</span>
                                        <input name="similar_on" type="checkbox" value="True">
                                        <div class="submit_input_box">
                                            <button id="Btn_Modal_keyword_add_close" class="addBtn" type="submit" >추가</button>
                                        </div>
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    </div>
</body>


<script src="{% static 'js/MainPage.js' %}"></script>
<script src="{% static 'js/Common.js' %}"></script>