{% load static %}

<link rel="stylesheet" href="{% static 'css/MainPage.css' %}?after">
<script src="{% static 'js/mainPage.js' %}"></script>
<div class="container">

    <div class="up">

        <div class="up-left">
         <img  src="{% static 'images/logo.png' %}" />
        </div>

          <div class="up-right">
           <form class="searchbar" action="/search/" method="get">
             <input type="text" name="keyword" placeholder="검색어를 입력하세요" style="display:flex;flex-shrink:0.4;;width:550px;height:35px;margin-left:0px">
             <button class="search" type="submit">검색</button>
           </form>
         </div>

    </div>

    <div class="middle">
       <p2>
          <button id="openModalButton" class="order" type="submit" >공지사항 순서 변경</button>

           <div id="myModal" class="modal">
                <div class="modal-content">
                <span class="close">&times;</span>
                <h2>공지사항 순서 변경</h2>
                    <details>
                 <summary>공지사항 목록</summary>


                    <p><div>
                        {% for category in allcategory %}
                            <li>{{category.Cid}} : {{category.Cname}}</li>
                        {% endfor %}
                        원하는 카테고리 6개를 순서대로 입력해주세요.<br><br>
                    </div></p>
                        </details>

                    <!-- action 보낼 주소 : /mainPage/reorder/
                         input1 ~ 6 : 각각 첫 번째부터 여섯 번째 순서
                    -->
                    <form class="input-wrapper" method="post" action="/mainPage/reorder/">
                        {% csrf_token %}
                        <div class="order_input" style="margin:7px">
                            <label>공지사항1 :</label>
                            <select name="input1" style="height:20px; width: 90px;">
                                {% for category in allcategory %}
                                <option value="{{category.Cname}}">{{category.Cname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="order_input" style="margin:7px">
                            <label>공지사항2 :</label>
                            <select name="input2" style="height:20px; width: 90px;">
                                {% for category in allcategory %}
                                <option value="{{category.Cname}}">{{category.Cname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="order_input"style="margin:7px">
                            <label>공지사항3 :</label>
                            <select name="input3" style="height:20px; width: 90px;">
                                {% for category in allcategory %}
                                <option value="{{category.Cname}}">{{category.Cname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="order_input" style="margin:7px">
                            <label>공지사항4 :</label>
                            <select name="input4" style="height:20px; width: 90px;">
                                {% for category in allcategory %}
                                <option value="{{category.Cname}}">{{category.Cname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="order_input" style="margin:7px">
                            <label>공지사항5 :</label>
                            <select name="input5" style="height:20px; width: 90px;">
                                {% for category in allcategory %}
                                <option value="{{category.Cname}}">{{category.Cname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="order_input" style="margin:7px">
                            <label>공지사항6 : </label>
                            <select name="input6" style="height:20px; width: 90px;">
                                {% for category in allcategory %}
                                <option value="{{category.Cname}}">{{category.Cname}}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <button type="submit" style="height:25px; width:60px; margin:8px;">수정</button>
                    </form>
                </div>
            </div>
       </p2>
    </div>

    <div class="down">
        <div class="menubar">
            <h5 style="text-align: center; ">KEYWORDS</h5>
            <ul id="keyword-list" style="margin-top: 0px; ">
                {% regroup keywords by key as grouped_keywords %}
                {% for grouped_keyword in grouped_keywords %}
                <li class="keylist" style="list-style-type: none; margin-left: 0px; margin-top: 15px; display:inline-block">
                    {{ grouped_keyword.grouper }} -
                    {% for keyword in grouped_keyword.list %}
                        {{ keyword.Cid.Cname }}
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}

                    <input class="hidden" type="hidden" name="grouped_keyword_grouper" value="{{ grouped_keyword.grouper }}" style="display:inline-block" />
                    <input class="hidden" type="hidden" name="keyword_cid_cname" value="{{ keyword.Cid.Cname }}"style="display:inline-block"  />
                    <!-- 요청 : /mainPage/del_keyword/
                        del_keyword
                    -->
                    <form action="/mainPage/del_keyword/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="del_keyword" value="{{ grouped_keyword.grouper }}">
                        <button type="submit" class="delete-key-btn" style="font-size: 14px;">-</button>
                    </form>

                    <button id="openModalButton1" class="order" type="submit" >edit</button>

                    <div id="myModal1" class="modal">
                        <div class="modal-content">
                            <span class="close1">&times;</span>
                            <h3 style="text-align:center">
                                현재 키워드 : {{ grouped_keyword.grouper }} <br>
                            </h3>
                            <!-- action 보낼 주소 : /mainPage/edit_keyword/
                                 now_keyword : 현재 키워드
                                 edit_keyword : 변경할 키워드
                                 edit_category : 변경할 카테고리
                            -->
                            <form style="display:flex; justify-content:center;" action="/mainPage/edit_keyword/" method="post">
                                {% csrf_token %}
                                <div class="edit">
                                    <input type="hidden" name="now_keyword" value="{{ grouped_keyword.grouper }}">
                                    <div class="edit1" style="display:flex; align-items: center;">
                                    <label style="width:68px; ">키워드를</label>
                                    <input name='edit_keyword' type="text" placeholder="키워드 입력" style="width:120px; ">

                                    <label style="width:120px; margin-left:5px;margin-right:0px;">로,&nbsp;&nbsp;카테고리를</label>


                                         <div class="cat-container" style="width: 170px; height: 80px; overflow: auto; background:Gainsboro;">
                                   {% for category in allcategory %}
                                  <label class= "cat-item">
                                         <input name="edit_category" type="checkbox" style="width: 12px; height: 12px;" value="{{ category.Cid }}">
                                        <span style="font-size: 12px;">{{ category.Cname }}</span>
                                    </label>
                                       {% endfor %}
                                       </div>

                                        <label style="margin-left:5px" >로</label>
                                    </div>
                                    <div style="display:flex; justify-content: center;">
                                        <button type="submit" style="width:50px; font-size:0.95em; font-family: 'DU';">수정</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </li>
                {% endfor %}
            </ul>
           <div style=" display:flex;justify-content: center;">
            <button id="add-keyword-btn" style="font-size: 16px; width : 50px; height:23px; ">+</button></div>
                <div id="keyword-input-wrapper" style="display: none;">
                    <!-- 추가된 부분: 유저 키워드 입력 폼 -->
                    <!--
                               action = /mainPage/add_keyword
                               keyword_name
                               catagory_list
                    -->
                    <form id="keyword-form" action="/mainPage/add_keyword/" method="post">
                        {% csrf_token %}
                        <input class="keyinput" type="text" name="keyword_name" placeholder="키워드를 입력하세요">

                        <div class="cat-container" style="background: white; width: 170px; height: 80px; overflow: auto;">
                            {% for category in categories %}
                            <label class= "cat-item">
                                <input type="checkbox" name="category_list" style="width: 12px; height: 12px;" value="{{ category.Cid }}">
                                <span style="font-size: 12px;">{{ category.Cname }}</span>
                            </label>
                            {% endfor %}
                        </div>

                        <div class="btn-group">
                            <button class="btn" type="submit">추가</button>
                            <button class="btn" id="cancel-keyword-btn" type="button">취소</button>
                        </div>
                    </form>
                </div>
        </div>

       <div class="component-wrapper">

        {% for category in categories %}
            <div class="row{{ forloop.counter }}">
                <h5 style="margin-left:10px">{{ category.Cname }}</h5>
                <ul>
                {% for notice in category.notice_set.all %}
                    <li class="noticelink"><a href="{{ notice.link }}"style="text-decoration:none; color: black;">{{ notice.title }}</a> - {{ notice.time }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var addButton = document.getElementById('add-keyword-btn');
        var cancelButton = document.getElementById('cancel-keyword-btn');
        var formWrapper = document.getElementById('keyword-input-wrapper');
        var keywordForm = document.getElementById('keyword-form');

        addButton.addEventListener('click', function() {
            addButton.style.display = 'none';
            formWrapper.style.display = 'block';
        });

        cancelButton.addEventListener('click', function() {
            addButton.style.display = 'block';
            formWrapper.style.display = 'none';
        });

        keywordForm.addEventListener('submit', function() {
            addButton.style.display = 'block';
            formWrapper.style.display = 'none';
        });
    });

    // 공지사항 순서 변경 모달
    // Get the modal element
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("openModalButton");

    // Get the close button
    var closeBtn = document.getElementsByClassName("close")[0];

    // Function to open the modal
    function openModal() {
    modal.style.display = "block";
    }

    // Function to close the modal
    function closeModal() {
    modal.style.display = "none";
    }

    // Event listener for button click to open the modal
    btn.addEventListener("click", openModal);

    // Event listener for close button click to close the modal
    closeBtn.addEventListener("click", closeModal);



    // 키워드 수정 관련 모달
    var modal1 = document.getElementById("myModal1");

    var btn1 = document.getElementById("openModalButton1");

    var closeBtn1 = document.getElementsByClassName("close1")[0];

    function openModal1() {
    modal1.style.display = "block";
    }

    function closeModal1() {
    modal1.style.display = "none";
    }

    btn1.addEventListener("click", openModal1);

    closeBtn1.addEventListener("click", closeModal1);

</script>
