{% load static %}

<body>
    <link rel="stylesheet" href="{% static 'css/SearchPage.css' %}?after">
        <div class="up">

          <div class="up-left">
            <img  src="{% static 'images/logo.png' %}" />
          </div>

            <div class="up-middle">
                <form class="searchbar" action="/search/" method="get">
                    <input type="text" name="keyword" placeholder="검색어를 입력하세요" >
                    <button class="search" type="submit">검색</button>
                </form>
            </div>

           <div class="up-right">
             <form class="Logout" method="POST" action="{% url 'Login' %}" >
             <button type="submit">로그아웃</button>
             </form>
              <a class="ToMain" href="http://127.0.0.1:8000/mainPage/">
              <button type="button">메인페이지로 이동</button>
            </a>
           </div>
        </div>



    <div class="down-container">

    <div class="down">

    <h3>
        연관 검색어 :
        {% for keyword_similar in keywords_similar %}
            <a href="/search/?keyword={{ keyword_similar }}"> {{ keyword_similar }}</a>
        {% endfor %}
    </h3>

    {% if notices %}
        <h2>"{{ keyword }}"에 대한 검색 결과입니다.</h2>

        <div class="notice-container">
            {% for notice in notices %}
            <li>
                <a href="{{ notice.link }}">[{{ notice.Cid.Cname }}] {{ notice.title }}</a> - {{ notice.time }}<br>
            </li>
                {% endfor %}
        </div>

    {% else %}
        <p>검색 결과가 없습니다.</p>
    {% endif %}
      </link>
     </div>
    </div>
</body>

