{% load static %}

<body>
    <link rel="stylesheet" href="{% static 'css/SearchPage.css' %}?after">

    <form action="/search/" method="get">
        <input type="text" name="keyword" placeholder="검색어를 입력하세요">
        <button class="search" type="submit">검색</button>
    </form>
    <div class="down-container">
    <div class="down">
    <h3>
        연관 검색어 :
        {% for keyword_similar in keywords_similar %}
            <a href="/search/?keyword={{ keyword_similar }}"> {{ keyword_similar }}</a>
        {% endfor %}
    </h3>

    {% if notices %}
        <h2>"{{ keyword }}"에 대한 검색 결과입니다.</h2>

        <div class="notice-container">
            {% for notice in notices %}
            <li>
                <a href="{{ notice.link }}">[{{ notice.Cid.Cname }}] {{ notice.title }}</a> - {{ notice.time }}<br>
            </li>
                {% endfor %}
          </div>

    {% else %}
        <p>검색 결과가 없습니다.</p>
    {% endif %}
      </link>
     </div>
    </div>
</body>


