.container {
  display: flex;
  flex-direction: column;
  background-color:  #F4F3EA;
  width: 100%;
  height: 100vh;
  
}

.up{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 10px 10px 10px;
  
}
.down{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.menubar {
  display: flex;
  background-color:  #A3C6C4	;
  color: #000000;
  padding: 18px;
  height: 300px;
  width: 17%;
  margin: 40px 10px 10px 10px;
  border-radius: 2%;
  box-shadow: 2px 2px 2px #D5D5D5;
  min-width: 150px;
  font-size: 1rem;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
  
}

.component-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row1 {
  display: flex;
  flex-direction: row;
  height : 350px;
}

.row2 {
  display: flex;
  flex-direction: row;
  height : 350px;
}

.component-container {
  Color:black;
  height: 600px;
  width: 350px;
  padding:15px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  
}

h5 {
  margin-top: 0;
  Color: #354649;
  line-height: 8%;
  font-weight: 510;
  font-size: 1.15rem;
  margin-bottom: 1em;
}
