.container {
  display: flex;
  flex-direction: column;
  background-color: #d7d7d7;
  width: 100%;
  height: 100vh;
}
.up{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 10px 10px 10px;
}
.down{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

a {
  color: inherit;
  text-decoration: none;
}

.menubar {
  background-color:  #FFC192	;
  color: #000000;
  padding: 20px;
  height: 300px;
  width: 150px;
  margin: 40px 10px 10px 10px;
  border-radius: 3%;
  box-shadow: 2px 2px 2px #ccae92;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
  
}

.component-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row1 {
  display: flex;
  flex-direction: row;
  height : 350px;
}

.row2 {
  display: flex;
  flex-direction: row;
  height : 350px;
}

.component-container {
  Color:black;
  height: 600px;
  width: 300px;
  padding:15px;
  margin: 0px;
  align-items: center;
  justify-content: center;
  
}

h3 {
  margin-top: 0;
  Color: #e37500;
  line-height: 10%;
}
