@font-face {
    font-family: 'DU';
    src:
    url('../css/DU.ttf'),
    url('../css/DU.woff');
}

body {
    display : flex;
    font-family: 'DU';
    background: #F4F3EA;
}


.container {
    background: #F4F3EA;
display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.up{
    display : flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    margin-right:100px;
    margin-left: 100px;
}

.down{
    display : flex;
    flex-direction: row;
    justify-content: center;
     flex-shrink:0.1;

}

.up-left{
    display : flex;
    height: 85px;
    margin-left:50px;
    margin-top:10px;
    margin-right: 30px;
}
.up-middle{
    display : flex;
    justify-content: right;
    margin-right:60px;
    margin-top:5px;
}
.up-right{
    display: flex;
    margin-right:-30px;
    flex-direction: column;
    margin-top: 30px;
}

.menubar{
display:flex;
flex-direction: column;
width: 170px;
height: 300px;

margin-right:70px;
margin-top:25px;
background: LightGrey;
border-radius: 5%;
flex-grow:0.1;
flex-shrink:0.2;
overflow: auto;

}
.keylist{
   list-style-type: none;
   margin-left: 0px;
   margin-top: 17px;
   display:inline-block;
   font-size: 15px;
   display: flex;
}

.delete-form{
 display: inline;
 flex-direction: row;
 padding:0;

}
.keyinput-form{
    align-items: center;
}

.edit-container{
display: flex;
flex-direction: column;
align-items: center;

}

.edit{
display:flex;
}
#edit_input{
  width:120px;
  margin-top:-5px;
}

ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
}

.component-wrapper{
display : flex;
flex-direction: row;
width:800px;
flex-wrap: wrap;
width-max: 900px;
flex-shrink:0.1;


}

.searchbar {
    display : flex;
    margin: 30px;
}
.searchbar input{
   display:flex;
   flex-shrink:0.4;
   width:600px;
   height:38px;
   margin-left:0px;
   margin-up:-5px;
}

.keyinput{
    height: 30px;
    width: 170px;
    }

#keyword-form{
    margin-top: 0px;
    align-items: center;
    display: flex;
    flex-direction: column;

    }

.catinput{
  font-family: 'DU';
  width:170px;
  font-size: 0.8rem;
  font-weight: 100;
  line-height: 1;
  color: grey;
  background-color: #fff;

  padding: 0.6em 1.4em 0.5em 0.8em;

}
#target_select{
   width: 200px;
   margin-bottom: 15px;
   margin-left: 15px;
}

/*-----------------------------버튼 모음-----------------------------*/
.btn{
      width: 50px;
      margin-top: 5px;

 }
.btn-group{
   float: right;
}
.editBtn1{
    height:25px;
    width:60px;
    margin:8px;"
}
.editBtn2{
  width:50px;
  font-size:0.95em;
   font-family: 'DU';
}
.addBtn{
   margin: 20px;
   width:50px;
   font-size:0.95em;
   font-family: 'DU';
}
.hiddenBtn{
    display:inline-block;
}
#openModalButton, #Logout {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin:5px;
  font-family: 'DU';
  width: 150px;
  height: 35px;
}

#openModalButton1{
     margin: 5px;
}
#openModalButton2{
   font-size: 16px;
   width: 40px;
   margin: 5px;
}
.delete-key-btn{
   font-size: 14px;
   margin-left: 7px;
}
.keyinputBtn{
     margin-left: 16px;
      width: 250px;
}

.edit-label{
    width:120px;
    margin-left:5px;
    margin-right:0px;
}


ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
    color:black;
}

.checkbox-wrapper {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding: 5px;

}

.keywordlist{
    padding: 8px;
    background: LightGrey;
    border-radius: 5%;
}

input {
    font-family: 'DU';
    height: 35px;
    width: 450px;
    margin : 5px;
}

.cat-container1{
    margin-left: 20px;
    width: 250px;
    height: 100px;
    overflow: auto;
    background:Gainsboro;"
}
.cat-container1::-webkit-scrollbar-thumb {
    background-color: gray;
}

.cat-container1::-webkit-scrollbar-track {
    background-color: lightgray;
}
.cat-container2{
   width: 170px;
   height: 80px;
   overflow: auto;
   background:Gainsboro;
}

.cat-item input{
    width: 12px;
     height: 12px;
     margin-top:-5px;
}

.search {
    font-family: 'DU';
    height: 35px;
    width: 50px;
    margin : 5px;
}

p2 {
    float: right;
    font-family: 'DU';
}

.order {
    font-family: 'DU';
    margin-right: 30px;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

/*한줄로 자르기*/
.noticelink{
display: inline-block;
   white-space: nowrap;
  overflow: hidden;
   text-overflow: ellipsis;
   width:260px;
   margin:5px;

    font-size: 0.9em;
}


.input-wrapper-up{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
  margin-left:40px;
}
.input-wrapper-down{

}
.order_input {
  margin: 7px;
}

.input1, .input2, .input3, .input4, .input5, .input6 {
  height:20px;
  width: 70px;
  margin-right: 30px; margin-left: 30px;
}

.key_notice{
    width: 625px;
    height:250px;
    padding: 8px;

    background-color: #F3E2A9;
    margin: 20px;
    height: 300px;
    flex-grow:0.3;
    flex-shrink:0.4;

    border-radius: 9px;

    max-height:250px;
    overflow: auto;
}

.row1, .row2, .row3, .row4, .row5, .row6 {
    width: 250px;
    height:250px;
    padding: 8px;

    background-color: #F3E2A9;
    margin: 20px;
    height: 300px;
    flex-grow:0.3;
    flex-shrink:0.4;

    border-radius: 9px;

    max-height:250px;
    overflow: auto;
}

.key_notice::-webkit-scrollbar,
.row1::-webkit-scrollbar,
.row2::-webkit-scrollbar,
.row3::-webkit-scrollbar,
.row4::-webkit-scrollbar,
.row5::-webkit-scrollbar,
.row6::-webkit-scrollbar {
  width: 14px;
}

.key_notice::-webkit-scrollbar-thumb,
.row1::-webkit-scrollbar-thumb,
.row2::-webkit-scrollbar-thumb,
.row3::-webkit-scrollbar-thumb,
.row4::-webkit-scrollbar-thumb,
.row5::-webkit-scrollbar-thumb,
.row6::-webkit-scrollbar-thumb {
  background-color: SandyBrown;
  border-radius: 10px;
}

.key_notice::-webkit-scrollbar-track,
.row1::-webkit-scrollbar-track,
.row2::-webkit-scrollbar-track,
.row3::-webkit-scrollbar-track,
.row4::-webkit-scrollbar-track,
.row5::-webkit-scrollbar-track,
.row6::-webkit-scrollbar-track {
  background-color: white;
  background-color: #F3E2A9;
}

li{
    margin:10px;
}

/* Style the button to open the modal */


/* Style the modal container */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Style the modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

/* Style the close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     justify-content: center;
}