body {
    background: #F4F3EA;
}

.container {
    background: #F4F3EA;
}

form {
    display : flex;
    justify-content: center;
    margin: 30px;
}

input {
    height: 35px;
    width: 450px;
    margin : 5px;
}

.search {
    height: 35px;
    width: 50px;
    margin : 5px;
}

p2 {
    float: right;
}

.order {
    margin-right: 30px;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.row1 {
    padding: 8px;
    border-style: solid;
    border-width: 3px;
    border-color: orange;
    background-color: #F3E2A9;
    margin: 20px;
}

.row2 {
    padding: 8px;
    border-style: solid;
    border-width: 3px;
    border-color: orange;
    background-color: #F3E2A9;
    margin: 20px;
}

.row3 {
    padding: 8px;
    border-style: solid;
    border-width: 3px;
    border-color: orange;
    background-color: #F3E2A9;
    margin: 20px;
}

.row4 {
    padding: 8px;
    border-style: solid;
    border-width: 3px;
    border-color: orange;
    background-color: #F3E2A9;
    margin: 20px;
}

.row5 {
    padding: 8px;
    border-style: solid;
    border-width: 3px;
    border-color: orange;
    background-color: #F3E2A9;
    margin: 20px;
}

.row6 {
    padding: 8px;
    border-style: solid;
    border-width: 3px;
    border-color: orange;
    background-color: #F3E2A9;
    margin: 20px;
}