   @font-face {
    font-family: 'DU';
    src:
    url('../css/DU.ttf'),
    url('../css/DU.woff');
}

body {
    display : flex;
    font-family: 'DU';
    background: #F4F3EA;
}


.container {
    background: #F4F3EA;
display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.up{
    display : flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    margin-right:100px;
    margin-left: 100px;
}

.down{
    display : flex;
    flex-direction: row;
    justify-content: center;
     flex-shrink:0.1;
    margin-top: 30px;

}

.up-left{
    display : flex;
    height: 85px;
    margin-left:-130px;
    margin-top:10px;
    margin-right: 10px;

}
.up-middle{
    display : flex;
    justify-content: right;
    margin-right:30px;
    margin-top:5px;
}

.up-right{
    display: flex;
    margin-right:-30px;
    flex-direction: column;
    margin-top: 30px;
}

.menubar{
display:flex;
flex-direction: column;
width: 280px;
height: 350px;

margin-right:70px;
margin-top:25px;
background: LightGrey;
border-radius: 5%;
flex-grow:0.1;
flex-shrink:0.2;
overflow: auto;


}
.menubar::-webkit-scrollbar {
  width: 12px;
}
.menubar::-webkit-scrollbar-thumb {
  background-color:#A2A2A2;
  border-radius: 7px;
}

.keylist{
   list-style-type: none;
   margin-left: 0px;
   margin-top: 12px;
   /*display:inline-block;*/
   font-size: 14px;
   display: flex;
    justify-content: space-between;

}

.delete-form{
 display: inline;
 flex-direction: row;
 padding:0;

}
.keyinput-form{
    align-items: center;
}

.edit-container{
display: flex;
flex-direction: column;
align-items: center;

}

.edit{
display:flex;
 justify-content:center;
}
#edit_input{
  width:120px;
  margin-top:-5px;
}

ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
}

.component-wrapper{
display : flex;
flex-direction: row;
width:900px;
flex-wrap: wrap;
width-max: 900px;
flex-shrink:0.1;
margin-left: 150px;

}

.searchbar {
    display : flex;
    margin: 30px;
}
.searchbar input{
   display:flex;
   flex-shrink:0.4;
   width:600px;
   height:38px;
   margin-left:0px;
   margin-up:-5px;
}

.keyinput{
    height: 30px;
    width: 170px;
    }

#keyword-form{
    margin-top: 0px;
    align-items: center;
    display: flex;
    flex-direction: column;

    }

.catinput{
  font-family: 'DU';
  width:170px;
  font-size: 0.8rem;
  font-weight: 100;
  line-height: 1;
  color: grey;
  background-color: #fff;

  padding: 0.6em 1.4em 0.5em 0.8em;

}
#target_select{
   width: 200px;
   margin-bottom: 15px;
   margin-left: 15px;
}

/*----------------버튼 모음------------------*/
.btn{
      width: 50px;
      margin-top: 5px;

 }
.btn-group{
   float: right;
}

/*공지사항순서변경 모달 내부 수정버튼*/
.editBtn1{
    height:25px;
    width:60px;
    margin:8px;
}
/*키워드 수정 모달 내부 수정 버튼*/
.editBtn2{
  width:50px;
  font-size:0.95em;
   font-family: 'DU';
}
/*키워드 추가 모달 내부 추가 버튼*/
.addBtn{
   margin: 20px;
   width:50px;
   font-size:0.95em;
   font-family: 'DU';
}
.hiddenBtn{
    display:inline-block;
}
/*여기부터 순서변경 버튼, 로그아웃 버튼, 키워드 삭제버튼, 키워드 수정버튼, 키워드추가버튼*/
.btn_order, .btn_logout {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin:5px;
  font-family: 'DU';
  width: 150px;
  height: 35px;
}
.btn_keyDel{
    margin-right:3px;

    background: #E2E2E2;
 border: 2.3px solid DimGray;
  border-radius: 5px;
  color: DimGray;
  width: 20px;
  height:22px;
  font-size: 0.9em;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  display: flex;
justify-content: center;
align-items: center;

}
#btn_edit{
   width:35px;
   height:22px;
   background: #E2E2E2;
  /*border: 2.3px solid #fff;*/
  border: 2.3px solid DimGray;
  border-radius: 5px;
  color: DimGray;
  font-size: 0.8em;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  display: flex;
justify-content: center;
align-items: center;
}
.btn_keyAdd{
   width:38px;
   height:24px;
   background: #E2E2E2;
  /*border: 2.3px solid #fff;*/
  border: 2.3px solid DimGray;
  border-radius: 5px;
  color: DimGray;
  font-size: 0.8em;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  display: flex;
justify-content: center;
align-items: center;
margin-bottom: 10px;
}


.keyinputBtn{
     margin-left: 16px;
      width: 250px;
}

.edit-label{
    width:120px;
    margin-left:5px;
    margin-right:0px;
}


ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
    color:black;
}

.checkbox-wrapper {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding: 5px;

}

.keywordlist{
    padding: 8px;
    background: LightGrey;
    border-radius: 5%;

}

input {
    font-family: 'DU';
    height: 35px;
    width: 450px;
    margin : 5px;
}

.cat-container1{
    margin-left: 20px;
    width: 250px;
    height: 100px;
    overflow: auto;
    background:#E6E6E6;

    border-radius:5px;

}

.cat-container1::-webkit-scrollbar,
.cat-container2::-webkit-scrollbar
 {
  width: 10px;
}

.cat-container1::-webkit-scrollbar-thumb,
.cat-container2::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}

.cat-container1::-webkit-scrollbar-track ,
.cat-container2::-webkit-scrollbar-track{
    background-color: lightgray;
}


.cat-container2{
   width: 250px;
    height: 100px;
   overflow: auto;
   background:#E6E6E6;
   margin-top:-10px;
   margin-right:10px;
   margin-left:-10px;

}

.cat-item input{
    width: 12px;
     height: 12px;
     margin-top:-5px;
}

.search {
    font-family: 'DU';
    height: 35px;
    width: 50px;
    margin : 5px;
}

p2 {
    float: right;
    font-family: 'DU';
}

.order {
    font-family: 'DU';
    margin-right: 30px;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

/*한줄로 자르기*/
.noticelink{
display: inline-block;
   white-space: nowrap;
  overflow: hidden;
   text-overflow: ellipsis;
   width:350px;
   margin:5px;

    font-size: 0.9em;
}


.input-wrapper-up{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
  margin-left:40px;
}
.input-wrapper-down{

}
.order_input {
  margin: 7px;
}

.option{
  height:20px;
  width: 90px;
  margin-right: 20px;
   margin-left: 20px;
}

.key_notice{
    width: 625px;
    height:250px;
    padding: 8px;

    background-color: #F3E2A9;
    margin: 20px;
    height: 300px;
    flex-grow:0.3;
    flex-shrink:0.4;

    border-radius: 9px;

    max-height:250px;
    overflow: auto;
}

.row1, .row2, .row3, .row4, .row5, .row6 {
    width: 340px;
    height:280px;
    padding: 0px;

    background-color: #F3E2A9;
    margin: 20px;
    height: 300px;
    flex-grow:0.3;
    flex-shrink:0.4;

    border-radius: 9px;

    max-height:250px;
    overflow-x:hidden;
    overflow-y:auto;
}

/*
.noticebox{
background:white;
margin:0px;
padding:0px;
 overflow: auto;
height:210px;
 overflow-x:hidden;
}*/


.row1::-webkit-scrollbar,
.row2::-webkit-scrollbar,
.row3::-webkit-scrollbar,
.row4::-webkit-scrollbar,
.row5::-webkit-scrollbar,
.row6::-webkit-scrollbar
 {
  width: 12px;
}


.row1::-webkit-scrollbar-thumb,
.row2::-webkit-scrollbar-thumb,
.row3::-webkit-scrollbar-thumb,
.row4::-webkit-scrollbar-thumb,
.row5::-webkit-scrollbar-thumb,
.row6::-webkit-scrollbar-thumb
 {
  background-color: SandyBrown;
  border-radius: 10px;
}


.row1::-webkit-scrollbar-track,
.row2::-webkit-scrollbar-track,
.row3::-webkit-scrollbar-track,
.row4::-webkit-scrollbar-track,
.row5::-webkit-scrollbar-track,
.row6::-webkit-scrollbar-track
 {
  background-color: white;
  background-color: #F3E2A9;
}

li{
    margin:10px;
}
.sticky-header {
     position: sticky;
     height:25px;
    top: 0;
    left: 0;
    width: 100%;
    margin:0px;

   background-color: #F3E2A9;
    padding: 10px;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    /*z-index: 9999;*/
}

/* Style the button to open the modal */


/* Style the modal container */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Style the modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

/* Style the close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     justify-content: center;
}





/*------------- 모바일 버전-------------*/
@media screen and (max-width:780px){
.container{

}
.up{
    display : inline;
    flex-direction: column;
    margin-top:  30px;
    width: 100vw;

    margin-left:0px;
    align-items: center;
}
.up-left{
    display : none;

}
.up-right{
    display: flex;
    flex-direction: row;
     justify-content: center;

     margin-top: -17px;
     margin-down: 40px;
     margin-left: -20px;
}

.up-middle{
      display : inline;
      width:100%;
      margin:10px;
      justify-content: center;
}

.down{
    display : flex;
    flex-direction: column;
    align-items: center;
    flex-shrink:0.1;
}
.up-middle form {
  margin: 10px;
  padding:5px;
  width:90%;

}

.up-middle form input {
  margin: 10px;
  padding:5px;
  width:95%;
}
.menubar{
    display:flex;
   flex-direction: column;
   background: black;
    border-radius: 5%;
    width: 200px;
    margin-left:60px;
    height:500px;
    padding: 8px;
    flex-grow:0.3;
    flex-shrink:0.4;
    padding: 10px;

}
.menubar::-webkit-scrollbar {
  width: 14px;
}
.row6::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}

.searchbar {
margin-left:0px;
margin-top: 20px;
width: 200px;
}
.searchbar input{
   display:flex;
   flex-shrink:0.4;
}

.search{
margin-top:10px;

}


.component-wrapper{
display : flex;
flex-direction: column;
align-items: center;
flex-shrink:0.1;
width-max: 400px;
}

.key_notice{
width:60%;
}

.noticelink{
display: inline-block;
   white-space: nowrap;
  overflow: hidden;
   text-overflow: ellipsis;
   width:95%;
   margin:5px;
    font-size: 0.9em;
}
.add_similar {
    margin-left: 35px;
}

.edit_similar {
    margin-left: 35px;
}