@font-face {
    font-family: 'DU';
    src:
    url('../css/DU.ttf'),
    url('../css/DU.woff');
}
body {
    font-family: 'DU';
    background: #F4F3EA;

}
/*상단 부분*/
.up{
    display: flex;
    justify-content: center;
    height: 120px;
    align-items: center;
}

/*상단부분 - 로고*/
.up-left{
    display: flex;
    width : 500px;
    height: 120px;
    justify-content: center;
}

.up-left img{
    cursor: pointer;
}
/*상단부분 - 로고 끝*/

/*상단부분 - 검색바*/
.up-middle{
    display : flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 120px;
}
.searchbar {
    display : flex;
    align-items: center;
    margin: 0px;

}
.searchbar input{
    width: 500px;
    height: 60px;
    margin-right: 10px;
}

.searchbar button {
    width: 70px;
    height: 60px;
    background: #8dc473;
    cursor: pointer;

    font-family: 'DU';
    font-size: x-large;
    color : white;

    border-style: solid;
    border-color: #8fc588;
}
/*상단부분 - 검색바 끝*/

/*상단 오른쪽 부분*/
.up-right{
    display: flex;

    height: 120px;
    width: 200px;

    justify-content: center;
    align-content: flex-end;

}

.button_right{
    height: 60px;
    margin: 0px;
}

.Logout {
    display: flex;
    align-items: center;
    margin: 0px;
}
.Logout button {
    background-color: #8dc473;
    cursor: pointer;
    margin: 0px;

    color: white;
    font-family: 'DU';
    font-size: x-large;

    border-style: solid;
    border-color: #8fc588;

    width: 150px;
    height: 60px;
}
/*상단 오른쪽 부분*/


.down-container{
    display:flex;
    justify-content:center;

}

.down{
width: 800px;
}

.notice-container {

    width: 800px;
    height:500px;
    padding: 8px;

    background: #F3E2A9;


    border-radius: 9px;
    overflow: auto;
}

.notice-container li{
    display: flex;
    flex-direction: row;
}

.notice-container li a{
    width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notice-container li div{
    width: 100px;
    text-align: left;
}

.notice-container::-webkit-scrollbar{
  width: 14px;
}

.notice-container::-webkit-scrollbar-thumb{
  background-color: SandyBrown;
  border-radius: 10px;
}

.notice-container::-webkit-scrollbar-track{
  background-color: white;
  background-color: #F3E2A9;
}
li{
    margin: 10px;
    list-style:none;
}

a{
    text-decoration:none;
    color: black;
    font-size: 0.9em;
}




