@font-face {
    font-family: 'DU';
    src:
    url('../css/DU.ttf'),
    url('../css/DU.woff');
}

body {
    background: #F4F3EA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    font-family: 'DU';
    font-size: xxx-large;
    text-align: center;
    margin-bottom: 20px;
    order: -1; /* Move the 회원가입 heading to the top */
    color: #FF8C00; /* Set the color to a lighter shade of orange */
}

p {
    font-family: 'DU';
    font-size: 30px;
    color: #FF8C00; /* Set the color to a lighter shade of orange */
    text-align: center;
    margin-top: 20px; /* Add margin at the top of the 로그인 페이지로 이동 text */
}

.signup_box {
    display: flex;
    flex-direction: column;
    align-item:center;
    justify-content: center;

    width: 600px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

div {
    font-family: 'DU';
    margin-bottom: 15px;
    text-align: center;

    display: flex;
    height: 65px;

    justify-content: center;
    align-items: center;

}

label{
    width: 150px;
    text-align: center;
    font-size: large;
    margin-right: 30px;
}

input{
    width: 300px;
    height: 40px;

    font-size: x-large;
}


.signup_btn {
    background-color: #8dc473;
    cursor: pointer;
    margin: 0px;

    border-style: solid;
    border-color: #8fc588;

    width: 500px;
    height: 50px;

    color: white;
    font-family: 'DU';
    font-size: x-large;
}


.loginpage_btn button{
    background-color: #8dc473;
    cursor: pointer;
    margin: 0px;

    border-style: solid;
    border-color: #8fc588;

    width: 200px;
    height: 50px;

    color: white;
    font-family: 'DU';
    font-size: x-large;
}


